In [27]:
import pandas as pd
df = pd.read_csv('consumo_paineis_solares.csv', sep=',')
df.Date = pd.to_datetime(df.Date)
df = df.set_index('Date')
df

             Value
Date
2014-08-09   5.341
2014-08-10  11.304
2014-08-11  16.170
2014-08-12  14.926
2014-08-13   0.147
...            ...
2020-06-14   3.048
2020-06-15   4.472
2020-06-16   6.833
2020-06-17   7.840
2020-06-18  10.728

[2141 rows x 1 columns]

In [28]:
df.describe()

             Value
count  2083.000000
mean     11.889381
std       4.961536
min       0.000000
25%       8.316000
50%      12.301000
75%      15.411000
max      24.491000